:root {
  --main-color: rgb(0, 95, 196);
  --highlight-main-color: rgb(0, 123, 255);
  --bg-color: #fff;
  --bg-secundary-color: #e4e4e4;
  --text-color: #000000;
  --text-color2: #ffffff;
}

body.dark {
  --bg-color: rgb(30, 30, 30);
  --bg-secundary-color: rgb(50, 50, 50);
  --text-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  width: 100svw;
  min-height: 100svh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

main,
section {
  transition: color 0.4s ease-in-out;
  width: 100%;
}

#root {
  transition: background-color 0.4s ease-in-out;
  max-width: 100svw;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}
