:root {
  --main-color: rgb(0, 95, 196);
  --highlight-main-color: rgb(0, 123, 255);
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-color2: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  width: 100svw;
  height: 100svh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}
